# SPDX-License-Identifier: BSD-2-Clause

# To compile this file into requirements.txt, run:
# ../tools/upgrade.sh

black
isort
# Blender itself limits numpy to less than 2.0, but we're otherwise using
# python 3.11, which defaults to a version greater than 2.0. Until blender
# upgrades, we're staying with it.
# https://github.com/blender/blender/blob/51db47149186146708d8c9546931600364730708/build_files/utils/make_bpy_wheel.py#L259-L262
numpy<2.0
pillow
pycodestyle
requests
