# SPDX-License-Identifier: MIT-0

# To compile this file into requirements.txt, run:
# ../tools/upgrade.sh

drake

# Drake's VideoWriter writes out the MP4 video using cv2.
opencv-python

# The example uses this to provide a progress bar.
tqdm
