# SPDX-License-Identifier: MIT-0

# Drake's VideoWriter writes out the MP4 video using cv2.
opencv-python

# The example uses this to provide a progress bar.
tqdm

# TODO(jwnimmer-tri) Switch to v1.15.0 once it's available.
https://drake-packages.csail.mit.edu/drake/nightly/drake-0.0.20230407-cp310-cp310-manylinux_2_31_x86_64.whl
