# SPDX-License-Identifier: BSD-2-Clause

name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  bazel_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Ubuntu dependencies
        run: .github/ci_setup.bash
      # Use setup-bazel for disk and repository caching.
      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          # Use the cached Bazelisk version, or download if not found.
          bazelisk-cache: true
          # Enable the disk cache and share it across all workflows
          # (i.e., across master and pull requests).
          # We want all builds to start from a warm cache, and we're not too
          # concerend about pull request builds "polluting" master builds.
          disk-cache: true
          # Share repository cache globally as well. If repository-cache is set to true,
          # it uses the hash of a few bazel files as the key for the cache. You can set
          # your own list of files to use to calculate the key by passing them below.
          # Passing an empty string tells setup-bazel to use the same key
          # every time, regardless of any changes to any files.
          repository-cache: ""
          # This dumps configuration details to the log.
          bazelrc: common --announce_rc=yes
      # Cache python dependencies with setup-python.
      # Uses the hash of the dependency file (pyproject.toml or requirements.txt)
      # as part of the cache key. For pip, this caches the global cache directory.
      - uses: actions/setup-python@v6
        # with:
        #   python-version: "3.11"
          # cache: "pip"
      # Actual testing.
      - name: Bazel Test
        run: |
          ./bazel test //...
      # Save the test outputs to allow for eyeball verification when relevant.
      - name: Archive test outputs
        uses: actions/upload-artifact@v6
        with:
          name: test_outputs
          path: |
            .bazel/testlogs/examples/ball_bin_test/test.outputs/outputs.zip
  install_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.11"]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python_version }}
          cache: "pip"
      - run: pip install .
      - run: drake-blender-server --help
